# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
*.iml
.idea/
.history/
pubspec.lock

# Example app
flutter/example/.dart_tool/
flutter/example/build/
flutter/example/pubspec.lock
flutter/example/.flutter-plugins
flutter/example/.flutter-plugins-dependencies

# Android
android/worldcredit-badge/build/
android/build/
android/.gradle/
android/local.properties

# iOS
ios/.build/
ios/.swiftpm/

# Web
web/node_modules/

# OS
.DS_Store
Thumbs.db
